.modal-dialog-confirm{
    position: fixed;
    top: 30%;
    right: 40%;
    position: fixed;
    border-radius: 5px;
    background-color: rgb(179, 173, 173);
    padding: 15px;
    width: 200px;
    height: 90px;
    border: 1px solid black; 
}

.closeButton-send{
    background-color: rgb(179, 173, 173);
    border: none;
    font-weight: bold;
    margin-left: 95%;
}

.sendButton{
    font-family: 'Lato', sans-serif;
}
