.list{
  display: flex;
  flex-grow:9;
  padding-top: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.buttons{
  margin-bottom: 10px;
}

.button-next, .button-back{
    
   width: 45px;
   height: 25px;



}