.card{
    margin-top:20px;
    margin-left: 40px;
    margin-right: 70px;
    height: 200px;
    width: 120px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;

}

@media only screen and (min-width: 1600px) {
    .card {
        margin-left: 60px;
        margin-right: 90px;
    }
  }

.title:hover, .image:hover{
    cursor: pointer;
}

.image{
    width: 150px;
    height:190px;
}

.title{
    font-size:15px;
    width:180px;
    color: white;
}